.header {
  position: relative;
  width: 100%;
  padding-bottom: 66%;
  background: 'url("../../../img/banner.jpg")';
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  position: absolute;
  top: 50%;
  z-index: 20;
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
  font-size: 12vw;
  text-shadow: 0 3vw 5vw rgba(0, 0, 0, 1);
  -webkit-font-smoothing: antialiased;
}
